body {
  background-image: linear-gradient(to left, rgb(50, 55, 213), rgb(103, 153, 213), rgb(142, 223, 195)); /* Gradient from top to bottom with multiple colors */
  min-height: 100vh;
  margin: 0;
}