body {
  height: 20000px;
  width: 200px;
  background: radial-gradient(rgb(235, 58, 185), rgb(221, 99, 230), rgb(11, 23, 128));
  
}

h1 {
    font-family: 'Helvetica'; font-weight: 2000; 
}

p  {
   color: rgb(186, 207, 238); font-family: 'Helvetica';
}

div {width:300px; margin: 30px;

}

