* {
  border-radius: 90px;
  margin-bottom: 20px;
}


html, body {
  height: 100%;
  margin: 70px;
}


body {
    background-image: radial-gradient(rgb(29, 24, 45), rgb(28, 28, 49), black);

}

h1 {
    margin: 40px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Atma", system-ui; font-weight: 700; font-style: normal; font-size: 200px;
    color: rgb(237, 247, 255);
    text-shadow: 21px 25px 20px rgba(255, 162, 238, 0.204); 
    margin-bottom: 100px;
    transition: all 0.3s ease;
    
    
    
    
}

h1:hover {
  color: #f0ecff;
  transform: scale(1.2);
}

img {
    margin: 4px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
    

}

h2 {
   font-family: "Atma", system-ui; font-weight: 700; font-style: normal; font-size: 50px;
   color: rgb(255, 255, 255); 
    
}

p {
   font-family: "Atma", system-ui; font-weight: 500; font-style: normal; font-size: 40px;
   color: rgb(255, 255, 255); 
}

.card {
  size: 2px;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.843);
  transition: 0.3s;
  margin-bottom: 100px;
  background-color: #3f444d5e;
  transition: 0.3s ease;
}


.card:hover {
  transform: translateY(-8px);
   background-color: #b9b9b97b;

  box-shadow: 0 90px 20px rgba(0,0,0,0.2);
 filter: contrast(120%) brightness(105%);

  animation: bounceLoop 0.8s infinite;
 

}

@keyframes bounceLoop {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}




.card2 {
  size: 2px;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px 0 rgba(255, 246, 247, 0.843);
  transition: 0.3s;
  margin-bottom: 100px;
  background-color: #3f444d5e;
  transition: 0.3s ease;
}

.card2:hover {
  transform: translateX(-15px) scale(1.04);
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
  background-color: #ffffff87;
  filter: contrast(120%) brightness(105%);

   
 animation: flicker 0.4s infinite alternate;

}


 @keyframes flicker {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  }
  25% {
    box-shadow: 0 0 20px rgba(50, 139, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(50, 77, 255, 0.3);
  }
  75% {
    box-shadow: 0 0 20px rgba(50, 135, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 20px rgba(50, 108, 255, 0.5);
  }
  
}

.card3 {
  size: 2px;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.843);
  transition: 0.3s;
  margin-bottom: 100px;
  background-color: #3f444d5e;
  transition: 0.3s ease;
}



.card3:hover:hover {
 
 background-color: rgba(255, 221, 221, 0.678);
  animation: wobble 0.6s;
   filter: contrast(120%) brightness(105%);

}

@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}





.container {
  size: 20px;
  margin: 40px;
  padding: 1px;
  
}


.nav-links {
  list-style: none;   
  gap: 40px;
  padding: 10;
  margin: 0;
  font-family: "Atma", system-ui; font-weight: 600; font-style: normal; font-size: 24px;
  color: rgb(255, 255, 255); 

  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: all 0.3s ease;
   padding: px
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
 
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block; 
  transition: 0.3s ease;
}

.nav-links a:hover {
  background-color: #ffcece88;
  transform: scale(1.07);
  box-shadow: 0 10px 12px rgba(0,0,0,0.2);
  width: 90px;
  border-radius: 2000px;
  transform: scale(1.7);

  
  
}
