* {
  border-radius: 90px;
  margin-bottom: 20px;
}
/* I thought that I would have to rely on javascript for the majority of my animations/interactive elements, but I found that many of the various hover effects could be designed just through CSS. */
/* Ideally I think the layout needed to be smaller to fit the dimensions of a html webpage, but I found it was more difficult to go back and resize elements after adding animations and effects. I will keep in mind to frequently check element scale in future projects. */
html, body {
  height: 100%;
  margin: 70px;
}


body {
    background-image: radial-gradient(rgb(29, 24, 45), rgb(28, 28, 49), black);

}

h1 {
    margin: 40px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Atma", system-ui; font-weight: 700; font-style: normal; font-size: 200px;
    color: rgb(237, 247, 255);
    text-shadow: 21px 25px 20px rgba(255, 162, 238, 0.204); 
    margin-bottom: 100px;
    transition: all 0.3s ease;
    
 /* I decided on a font that is playful but easy to read quickly for the user, while still being readable after the hover effects are layered on. */
    
    
}

h1:hover {
  color: #f0ecff;
  transform: scale(1.2);
}

img {
    margin: 4px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
    

}

h2 {
   font-family: "Atma", system-ui; font-weight: 700; font-style: normal; font-size: 50px;
   color: rgb(255, 255, 255); 
    
}

p {
   font-family: "Atma", system-ui; font-weight: 500; font-style: normal; font-size: 40px;
   color: rgb(255, 255, 255); 
}
/* I used card elements for my container features for the first time, and experimented with their positioning before deciding on a vertical layout for user efficiency. */
.card {
  size: 2px;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.843);
  transition: 0.3s;
  margin-bottom: 100px;
  background-color: #4d3f3f5e;
  transition: 0.3s ease;
}

/* It was my first time figuring out how to use card elements on a html page, I had to trial and error with the code multiple times. The gaps between elements weren’t enlarged enough, making them not appear as separated as I wanted them to be. */
/* This was resolved through the flexbox/display function, and testing through various styles before settling on the column one which was the most appropriate for my context. */
.card:hover {
  transform: translateY(-11px);
   background-color: #ff55559a;

  box-shadow: 0 9px 20px rgba(255, 255, 255, 0.534);
 filter: contrast(120%) brightness(105%);

  animation: bounceLoop 1s infinite;
 

}

/* In the first card, I wanted to keep the interactive feedback to a minimal level - using a looped bounce animation to signify the mouse movement of the user. */

/* The easy ease animation of the hover function is used as a constant thematic element in all of the ineteractivt sections, encouraging more exploration of the site to the user. */

@keyframes bounceLoop {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Through my context and action, I wanted to build a shopping/browsing experience with minimal titles/headings to direct the user to different content - and rely more on unique interactive experiences as a category system. I reflected this through the use of different hover styles for several elements within the webpage. */


.card2 {
  size: 2px;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px 0 rgba(255, 246, 247, 0.843);
  transition: 0.3s;
  margin-bottom: 100px;
  background-color: #3f444d5e;
  transition: 0.3s ease;
}

/* The second card was more of a challenge, as I wanted to do something different without being too visually overstimulating. I implemented a subtle backlight ‘flicker’ effect that activates, through switching between different box-shadow tones rapidly and creating this glow effect. */

.card2:hover {
  transform: translateX(-15px) scale(1.04);
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
  background-color: #66ef7f87;
  filter: contrast(120%) brightness(105%);

   
 animation: flicker 0.4s infinite alternate;

}


 @keyframes flicker {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  }
  25% {
    box-shadow: 0 0 20px rgba(50, 139, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(50, 77, 255, 0.3);
  }
  75% {
    box-shadow: 0 0 20px rgba(50, 135, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 20px rgba(50, 108, 255, 0.5);
  }
  
}

.card3 {
  size: 2px;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.843);
  transition: 0.3s;
  margin-bottom: 100px;
  background-color: #3f444d5e;
  transition: 0.3s ease;
}

/* The final card I wanted to be distinct from the others, so I opted to use a quick but playful bounce effect, using wobble animation keyframes to achieve this. */

.card3:hover:hover {
 
 background-color: rgba(255, 198, 113, 0.794);
  animation: wobble 0.6s;
   filter: contrast(120%) brightness(105%);

}


/* Additionally when the mouse hovers over the images they brighten slightly in saturation, reinforcing to the users that these items are ‘activated’ upon their interaction/browsing activity. */

@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}





.container {
  size: 20px;
  margin: 40px;
  padding: 1px;
  
}


.nav-links {
  list-style: none;   
  gap: 40px;
  padding: 10;
  margin: 0;
  font-family: "Atma", system-ui; font-weight: 600; font-style: normal; font-size: 24px;
  color: rgb(255, 255, 255); 

  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: all 0.3s ease;
   padding: px
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
 
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block; 
  transition: 0.3s ease;
}

.nav-links a:hover {
  background-color: #ffcece88;
  transform: scale(1.07);
  box-shadow: 0 10px 12px rgba(0,0,0,0.2);
  width: 90px;
  border-radius: 2000px;
  transform: scale(1.7);

  
  
}
