* {
  border-radius: 90px;
  margin-bottom: 20px;
}


html, body {
  height: 100%;
  margin: 70px;
}


body {
    background: rgb(149, 189, 209)
}

h1 {
    margin: 40px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Atma", system-ui; font-weight: 700; font-style: normal; font-size: 90px;
    color: rgb(237, 247, 255);
    text-shadow: 21px 25px 20px rgba(14, 13, 75, 0.224); 
    margin-bottom: 100px;
    
}

img {
    margin: 4px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
    

}

h2 {
   font-family: "Atma", system-ui; font-weight: 700; font-style: normal; font-size: 50px;
   color: rgb(255, 255, 255); 
    
}

p {
   font-family: "Atma", system-ui; font-weight: 500; font-style: normal; font-size: 40px;
   color: rgb(255, 255, 255); 
}

.card {
  size: 2px;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.843);
  transition: 0.3s;
  margin-bottom: 100px;
  background-color: #62bee35e;
}

.container {
  size: 20px;
  margin: 40px;
  padding: 1px;
  
}


.nav-links {
  list-style: none;   
  gap: 40px;
  padding: 10;
  margin: 0;
  font-family: "Atma", system-ui; font-weight: 600; font-style: normal; font-size: 24px;
  color: rgb(255, 255, 255); 
  background-color: rgba(187, 233, 255, 0.565);
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: all 0.3s ease;
   padding: 50px;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
 
}

.nav-links a:hover {
  background-color: #b3ddff;
  color: #000;
  transform: scale(1.05);
}