:root {
  --primary-bg-color: 
  background: #ffd98c;
  background: radial-gradient(circle, rgb(255, 236, 198) 0%, rgba(255, 64, 64, 1) 100%);
  --text-color: #ffffff;
  --main-bg-color: #ffffff83;
  --main-text-color: #f4e3e3;
  --main-btn-bg-color: #ffbdbd8f;

}

* {
  border-radius: 300px;
  filter: drop-shadow(4px 4px 40px rgba(255, 47, 0, 0.298));
}


body,
h1,
p,
ul {
  flex: 1;
  margin: 60;
  padding: 10;
}

body {
  font-family: "Nunito";
  font-size: 30;
  font-weight: 800;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 2px 2px 30px rgb(255, 89, 0);

}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  display: flex;
  gap: 20px;
  max-width: 750px;
  width: 100%;
  padding: 70px;
  box-shadow: inset 4px 4px 8px rgba(255, 222, 222, 0.889);
}

/* Header styling */
header {
  font-size: 100px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
  box-shadow: inset 4px 4px 8px rgba(250, 37, 18, 0.889);
  box-shadow: outset 4px 4px 8px rgba(255, 222, 222, 0.889)
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  box-shadow: inset 4px 4px 8px rgba(255, 222, 222, 0.889);
}

nav ul li {
  margin-right: 20px;
  background-color: rgba(255, 220, 226, 0.396);
  padding: 40;
  box-shadow: inset 4px 4px 8px rgba(250, 37, 18, 0.889);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 3px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 15px 16px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-shadow: inset 4px 4px 8px rgba(250, 37, 18, 0.889);

}

.progress-bar {
  gap: 500px;
  width: 100%;
  height: 10px;
  background-color: #ffdad2;
  margin-bottom: 30;
  overflow: hidden;
  box-shadow: inset 4px 4px 8px rgba(243, 111, 96, 0.889);

}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  box-shadow: inset 4px 4px 8px rgba(250, 37, 18, 0.889);
  box-shadow: outset 4px 4px 8px rgba(255, 222, 222, 0.889)
}

#mute-unmute-button {
  position: relative;
  z-index: 10;
}


#volume-slider {
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: outset 4px 4px 8px rgba(255, 222, 222, 0.889);
  box-shadow: inset 4px 4px 8px rgba(255, 222, 222, 0.889);
}


.volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

#start-timer-btn {
  background-color: var(--main-bg-color);
  box-shadow: outset 4px 4px 8px rgba(247, 8, 8, 0.829);
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.889);
  padding: 20px 28px; 
  color:rgb(255, 120, 120);
}

#start-music-list {
  background-color: var(--main-bg-color);
  box-shadow: outset 4px 4px 8px rgba(247, 8, 8, 0.829);
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.889);
  padding: 20px 28px; 
  color:rgb(255, 120, 120);
}

#start-sessions {
  background-color: var(--main-bg-color);
  box-shadow: outset 4px 4px 8px rgba(247, 8, 8, 0.829);
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.889);
  padding: 20px 28px; 
  color:rgb(255, 120, 120);
}





#timer-container {
  display: none; /* Hidden when website first opens */
  margin-top: 20px;
  padding: 20px;
  background: #ffe6e696;
  color: white;
  width: 500px;
  border-radius: 10px;
  box-shadow: outset 4px 4px 8px rgba(247, 8, 8, 0.829);
  box-shadow: inset 4px 4px 8px rgba(168, 69, 69, 0.889);
  padding: 30px 32px; 
  border-radius: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#timer-toggle-btn,
#start-btn {
  background: rgba(255, 121, 121, 0.679);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 16px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: outset 4px 4px 8px rgba(247, 8, 8, 0.829);
  box-shadow: inset 4px 4px 8px rgba(168, 69, 69, 0.889);
  padding: 20px 28px;
  justify-content: space-between;
}
