:root {
  --primary-bg-color: 
  background: #ffd98c;
  background: radial-gradient(circle, rgb(255, 236, 198) 0%, rgba(255, 64, 64, 1) 100%);
  --text-color: #ffffff;
  --main-bg-color: #ffffff83;
  --main-text-color: #f4e3e3;
  --main-btn-bg-color: #ffbdbd8f;

}

* {
  border-radius: 100px;
  filter: drop-shadow(4px 4px 40px rgba(255, 47, 0, 0.298));
}

body,
h1,
p,
ul {
  margin: 60;
  padding: 10;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30;
  font-weight: 1000;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-shadow: 2px 2px 30px rgb(255, 89, 0);

}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 750px;
  width: 100%;
  padding: 10px;
  box-shadow: inset 4px 4px 8px rgba(255, 222, 222, 0.889);
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
  box-shadow: inset 4px 4px 8px rgba(250, 37, 18, 0.889);
  box-shadow: outset 4px 4px 8px rgba(255, 222, 222, 0.889)
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  box-shadow: inset 4px 4px 8px rgba(255, 222, 222, 0.889);
}

nav ul li {
  margin-right: 20px;
  background-color: rgba(255, 220, 226, 0.396);
  padding: 40;
  box-shadow: inset 4px 4px 8px rgba(250, 37, 18, 0.889);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 20px 25px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ffdad2;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  box-shadow: inset 4px 4px 8px rgba(250, 37, 18, 0.889);
  box-shadow: outset 4px 4px 8px rgba(255, 222, 222, 0.889)
}

